<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.standard | relURL }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
    </div>

    <ul>
      <a href="https://twitter.com/cjmathy">
        <img alt="twitter-logo" src="{{ .Site.Params.logo.twitter | relURL }}" align="left" style="padding: 10px" />
      </a>
      <a href="https://github.com/cjmathy">
        <img alt="github-logo" src="{{ .Site.Params.logo.github | relURL }}"  align="left" style="padding: 10px" />
      </a>
      <a href="http://orcid.org/0000-0002-5546-9733">
        <img alt="orcid-logo" src="{{ .Site.Params.logo.orcid | relURL }}" align="left" style="padding: 10px" />
      </a>
      <a href="http://orcid.org/0000-0002-5546-9733">
        <img alt="googlescholar-logo" src="{{ .Site.Params.logo.googlescholar | relURL }}" align="left" style="padding: 10px" />
      </a>
    </ul>

    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}

  </div>
</div>

